

.about-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color:rgb(56, 158, 112);
    height: 100vh;
}

.about-card {
    background-color: #45a969;
    padding: 40px 50px;
    max-width: 800px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    border-left: 6px solid #2f5d50;
}

.about-title {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.about-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #3a2f2f;
}

.about-text {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #3a2f2f;
    margin-bottom: 15px;
}

.about-page {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 20px;
    background: white;
    height: 100vh;
    margin-top: 50px;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-section.rev {
    flex-direction: row-reverse;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    object-fit: cover;
}

.about-text-card {
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    flex: 1;
}

.about-text-card h1,
.about-text-card h2 {
    color: #2f5d50;
    margin-bottom: 15px;
}

.about-text-card p {
    color: #3a2f2f;
    line-height: 1.7;
}



.about-card:hover {
    transform: translateY(-4px);
    transition: 0.3s ease;
}

.brainrot {
    color: rgb(255, 9, 255);
    position: absolute;
    top: 530px;
    left: 100px;

}

.brainrot-portal {
    width: 200px;
    height: 200px;
}