html, body {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
}

.text {
    /*height: 61vh; */
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 60px 45px 60px;
    text-align: center;
    background-color: white;
}

.text h1 {
    font-size: 6rem;
    color: #2f5d50;
    margin-top: -80px;
    margin-left: -150px;
}

.text p {
    font-size: 1.2rem;
    color: #3a2f2f;
    max-width: 800px;
    line-height: 1.6;
    margin-left: 310px;
    margin-top: 330px;
}

.images {
    height: 34vh;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.images img {
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: -35px;
    display: block;
}