.info-container {
    padding: 120px 60px;
    background: #5f9d71;
    min-height: 100vh;
}

.info-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 60px;
    color: #f5f5f5;
}

.no-change {
    color: inherit;
    text-decoration: none;
}

.no-change:hover {
    text-decoration: none;
    color: #5f9d71;
}

.info-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;;
}

.info-card {
    background: #F4F4F0;
    width: 300px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.info-card:hover {
    box-shadow: 0 8px 24px rgba(110, 205, 58, 0.793);
    filter: brightness(1.1);
}

.info-card h2 {
    margin-top: 0;
}

.card-text {
    margin-top: 12px;
    font-size: 0.95rem;
    color: #444;
}