.home-split {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.split-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(180deg, white, #5f9d71);
}

.left-text {
  justify-content: flex-start;
  align-items: flex-start;
}

.text-content {
  max-width: 650px;
}

.text-content h1 {
  font-size: 3.5rem;
  margin-top: 80px;
  margin-left: 40px;
  margin-bottom: 80px;
  color: black;
  text-align: left;
}

.text-content p {
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 1.6;
  margin-top: 0px;
  margin-left: 70px;
  color: #1c3d2f;
  text-align: left;
  text-indent: 2em;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 20px;
}

.right-chart {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
