html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    position: absolute;
    left: 400px;
    top: 300px;
}

.split-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 60px;
    font-family: "Inter", sans-serif;
}

.split {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1C1C1C;
    font-family: "Inter", sans-serif;
    transition: filter 0.3s;
}

.left {
    background: linear-gradient(135deg, #A3B5A6, #67ab72);
}

.right {
    background: linear-gradient(135deg, #B7AFA3, #B7AFA3);
}

.split:hover {
    filter: brightness(1.3);
}

.content-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    text-align: center;
    width: 240px;
}

.content-box h2 {
    margin: 0;
    font-size: 1.6rem;
    color: #1c1c1c;
}

.content-box p {
    margin: 8px 0 0 0;
    font-size: 1rem;
    color: #444;
}

.center-chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
  }
  
.pie {
    width: 240px;
    height: 240px;
}   
  
.pie-bg {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 3;
}

.pie-fill {
    fill: none;
    stroke: #518a54;
    stroke-width: 3;
    stroke-linecap: round;
    transition: stroke-dasharray 0.4s ease;
}

.pie-text {
    fill: #1C1C1C;
    font-size: 6px;
    text-anchor: middle;
    font-weight: 600;
}