.chart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.chart-title {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #2f5d50;
}

.chart-description {
    max-width: 500px;
    margin-bottom: 40px;
    font-size: 1rem;
    color: #1c3d2f;
    line-height: 1.6;
}

.bar-chart {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    margin-bottom: 40px;
    height: 200px;
}

.bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    transition: height 0.6s ease;
}

.bar.women {
    background-color: #518a54;
}

.bar.men {
    background-color: #444;
}

.bar-label {
    margin-top: 8px;
    font-weight: 600;
    color: #2f5d50;
}

.number-line {
    display: flex;
    justify-content: space-between;
    width: 60%;
    user-select: none;
}

.year {
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
    transition: transform 0.2s, color 0.2s;
}

.year:hover,
.year.active {
    color: #2f5d50;
    transform: scale(1.2);
    font-weight: bold;
}
  
.chart {
    background-color: rgba(255, 255, 255, 0);
}

.bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.bar-label {
    margin-top: 8px;
    font-weight: 600;
    color: #2f5d50;
}